<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="navbar navbar-dark bg-dark border-bottom border-secondary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/admin">
            <i class="bi bi-shield-lock me-2"></i>JUGADOR12 <span class="text-primary">Admin</span>
        </a>
        <a href="/" class="btn btn-outline-secondary btn-sm" target="_blank">
            <i class="bi bi-arrow-up-right-circle me-1"></i>Ver tienda
        </a>
    </div>
</header>
</html>